.options h2 {
    text-align: left;
}

/* OPTIONS */

.options-container {
    display: flex;
    flex-wrap: wrap;
    }
    
.option-type {
    border: 1px solid var(--cajas-border);
    padding: 20px 20px 30px 20px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 10px;
}

.option-type p {
    margin-bottom: 20px;
}

.transfers {
    width: 40%;
}

.mail {
    width: 58%;
}

/* ACCOUNTS */

.account-container h4 span {
    background-color: var(--texto2);
    color: var(--blanco);
    padding-left: 5px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.account {
    margin-bottom: 10px;
}

.detail {
    background-color: var(--gris);
    padding: 15px;
}

.detail span {
    color: var(--rojo);
    font-weight: bold;
    background-color: var(--gris);
}