/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ SERVICIOS ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

.servicios .section-container {
    justify-content: center;
    text-align: center;
}

.servicios p {
    display: inline-block;
    margin-bottom: 40px;
}

.servicios .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.servicios .card {
    width: 24.2%;
    height: 270px;
    background-color: grey;
    margin-right: 10px;
    border-radius: 0;
    box-shadow: var(--sombra);
    border: 1px solid var(--cajas-border);
}

.servicios .cards div:last-child {
    margin-right: 0;
}

.servicios .card a:first-child {
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.servicios .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s;
}

.servicios .card img:hover {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 1px; */
    outline: 1px solid var(--rojo);
    outline-offset: -1px;
}


.servicios .card .label {
    position: absolute;
    width: 100%;
    padding: 5px;
    background-color: var(--rojo);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.servicios .card .label p {
    color: var(--blanco);
    margin: 0;
}

/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ DONATIVOS ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

.donativos {
    height: 400px;
    position: relative;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.donativos .img-container::after {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    display: block;
    content: " ";
    background: linear-gradient(90deg, rgba(255,255,255,1) 28%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
}

.donativos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.donativos .section-container {
    position: absolute;
}

.donativos h2 {
    text-align: left;
    font-size: 42px;
    display: inline-block;
    width: 50%;
    line-height: 45px;
}

.donativos p {
    width: 30%;
}

.donativos a {
    display: inline-block;
    padding: 5px 30px;
    background-color: var(--rojo);
    border-radius: 30px;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 20px;
}

.donativos a:hover {
    background-color: var(--hover-btn-rojo);
    color: var(--blanco);
}

/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ AREAS ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

.areas {
    flex-direction: column;
}

.areas h2 {
    margin-bottom: 40px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 133px;
    grid-gap: 5px;
    width: 90%;
    margin: auto;
    /* padding-bottom: 15px; */
}

.gallery-item {
    background: grey;
    position: relative;
    box-shadow: var(--sombra);
    border: 1px solid var(--cajas-border);
}

.gallery-item:nth-child(1) {
    grid-row-start: span 3;
}

.gallery-item:nth-child(2) {
    grid-row-start: span 1;
}

.gallery-item:nth-child(3) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(4) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(5) {
    grid-row-start: span 1;
}

.img-container::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    content: " ";
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    transition: all 0.1s;
}

.img-container:hover {
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    outline: 1px solid var(--rojo);
    outline-offset: -1px;
}

.gallery-item .label {
    position: absolute;
    bottom: 0;
    padding: 5px 20px;
}

.gallery-item .label p {
    color: var(--blanco);
    font-size: 20px;
}

/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ APLICACION Y BOLETIN ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

.aplicacion-boletin {
    margin-bottom: 0;
}

.aplicacion-boletin .section-container {
    width: 100%;
    height: auto;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    padding: 40px 40px 10px 40px;
}

.aplicacion {
    display: flex;
    max-width: 400px;
    min-width: 330px;
}

.aplicacion-boletin .separator {
    height: 95%;
    opacity: 0.2;
    margin: 20px 30px 20px 20px;
}

.app-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.app-img img {
    height: 260px;
}

.app-info {
    width: 50%;
    transition: all 0.5s;
}

.app-info a {
    transition: all 0.5s;
}

.app-info a:hover {
    opacity: 0.8;
}

.app-info h3 {
    margin-bottom: 20px;
}

.aplicacion-boletin h3 {
    color: var(--rojo);
    font-weight: bold;
    font-size: 32px;
}

.app-info img {
    width: 150px;
    margin-bottom: 10px;
}

.boletin {
    width: 600px;
}

.boletin h3 {
    margin-bottom: 10px;
}

.boletin p {
    width: 90%;
    font-size: 18px;
}

.boletin input[type=email]  {
    border: 0;
    height: 50px;
    width: 70%;
    padding: 15px;
}

.boletin input[type=email]:focus {
    outline: 0;
}

.boletin input[type=submit] {
    background-image: url(../img/mail-submit.jpg);
    height: 50px;
    width: 70px;
    border: 0;
    margin-left: -10px;
    transition: all 0.5s;
}

.boletin input[type=submit]:hover {
    background-image: url(../img/mail-submit-hover.jpg);
}

.aplicacion-boletin hr {
    display: none;
}


/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙
⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ MEDIA QUERIES ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙
⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

@media (max-width: 1400px) {

    .carousel-item {
        justify-content: start;
    }

    .eventos-y-noticias .carousel-item {
        padding-left: 5.5%;
    }

}

@media (max-width: 1024px) {

    header .carousel-item-container {
        width: 90%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: none;
    }

    .carousel-item-container {
        width: 100%;
    }

    .servicios .subtitulo {
        width: 80%;
    }

    .servicios .cards {
        width: 100%;
    }

    .servicios .card {
        margin-bottom: 10px;
        width: 35%;
    }

    .servicios .cards div:nth-child(2n) {
        margin: 0;
    }

    .donativos .section-container {
        width: 90%;
    }

    .donativos h2 {
        width: 70%;
    }
    
    .donativos p {
        width: 40%;
    }

    .eventos-y-noticias .card {
        width: 29%;
    }  
    
    .eventos-y-noticias .carousel-item {
        padding-left: 7.5%;
    }

}

@media (max-width: 816px) {
    .aplicacion-boletin .section-container {
        padding: 40px;
    }
}

@media (max-width: 768px) {
    .donativos {
        height: 450px;
    }

    .donativos img {
        object-position: 60% 50%;
    }

    header .carousel-item-container {
        top: 100px;
    }

}

@media (max-width: 784px) {
    .aplicacion-boletin .section-container {
        flex-direction: column;
        padding: 30px 40px 40px 40px;
    }

    .aplicacion-boletin .separator {
        display: none;
    }

    .aplicacion-boletin hr {
        display: block;
        margin: 20px;
    }

    .aplicacion {
        max-width: 100%;
    }

    .app-img {
        justify-content: right;
        padding-right: 20px;
    }

    .app-info img {
        display: block;
    }

    .app-info h3 {
        max-width: 300px;
    }

    .boletin {
        width: 100%;
    }

    .boletin {
        text-align: center;
    }

    .boletin p {
        width: 100%;
        margin-bottom: 20px;
    }    
}

@media (max-width: 668px) {
    .donativos {
        height: 430px;
    }

    .donativos h2 {
        width: 90%;
    }
    
    .donativos p {
        width: 80%;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px 200px 200px 200px;
    }
    
    .gallery-item {
        grid-row-start: span 1 !important;
    }

    .eventos-y-noticias .carousel-item {
        padding-left: 6%;
    }

    .eventos-y-noticias .card {
        width: 28%;
    }

    .eventos-y-noticias .card img {
        height: 70%;
    }

    .carousel-bigscreen {
        display: none;
    }

    .carousel-smallcreen {
        display: block;
    }

    .eventos-y-noticias .carousel-item {
        padding-left: 15%;
    }

    .eventos-y-noticias .sc-card {
        width: 80%;
    }

    .eventos-y-noticias .carousel-control-prev, .eventos-y-noticias .carousel-control-next {
        width: 20px; 
    }

}

/* ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ MOVIL ⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙⁙ */

@media (max-width: 480px) {

    header .carousel-item-container {
        text-align: center;
        top: 150px;
    }

    .carousel-item-container h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .carousel-item-container .primary-btn {
        margin-top: 10px;
    }

    .section-container {
        width: 90%;
    }

    .subtitulo {
        width: 90%;
    }

    .servicios .card {
        width: 100%;
        height: 200px;
        margin: 0px 0px 10px 0px;
    }

    .servicios .cards div:nth-child(2n) {
        margin-bottom: 10px;
    }

    .donativos {
        height: 350px;
    }

    .donativos img {
        object-position: 62% 50%;
    }

    .donativos .img-container::after {
        background: linear-gradient(90deg, rgba(255,255,255,1) 28%, rgba(255,255,255,0) 100%);
    }

    .donativos .section-container {
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .donativos h2 {
        text-align: center;
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
    
    .donativos p {
        width: 100%;
        text-align: center;
        /* text-shadow: 4px 4px 20px rgba(150, 150, 150, 1); */
    }
    
}

@media (max-width: 415px) {
    .donativos {
        height: 400px;
    }

    .eventos-y-noticias .card img {
        height: 60%;
    }

    .eventos-y-noticias .carousel-item {
        padding-left: 11%;
    }
}

@media (max-width: 376px) {
    .aplicacion-boletin .section-container {
        padding: 20px 20px 40px 20px;
    }

    .aplicacion {
        min-width: 300px;
    }

    .app-img {
        width: 45%;
    }

    .app-img img {
        height: 220px;
    }

    .app-info {
        width: 55%;
    }

    .app-info h3 {
        max-width: 150px;
    }

    .app-info img {
        width: 120px;
    }

}

